# Override pnpm home and global bin directory to avoid PATH issues in build environments
# The Manus build environment sets PNPM_HOME=/pnpm/bin but doesn't add it to PATH
# Setting these to paths that are always in PATH in build environments
global-bin-dir=/usr/local/bin
home-dir=/usr/local/lib/pnpm
