# Override pnpm global bin directory to avoid PATH issues in build environments
# The Manus build environment sets PNPM_HOME=/pnpm/bin but doesn't add it to PATH
# Setting global-bin-dir to /usr/local/bin which is always in PATH
global-bin-dir=/usr/local/bin
